<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head th:include="layouts/layout :: headerFragment">
<title>Konfig</title>
</head>
<th:block layout:fragment="content">

	<div class="box margin-top margin-bottom">
		<article>
			<div class="text-box">
				<h4>Gemengen</h4>
				<div style="column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;">
					<ul>
						<li th:each="municipality : ${municipalities}"><i class="material-icons">place</i><a th:href="@{/admin/municipalityform(id=${municipality.id})}" th:text="${municipality.name}"></a></li>
					</ul>
				</div>
			</div>
			<div>
				<h4>Kantonen</h4>
				<div style="column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;">
					<ul>
						<li th:each="canton : ${cantons}"><i class="material-icons">place</i><a th:href="@{/admin/cantonform(id=${canton.id})}" th:text="${canton.name}"></a></li>
					</ul>
				</div>
			</div>
			<div>
				<h4>Distrikter</h4>
				<div style="column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;">
					<ul>
						<li th:each="district : ${districts}"><i class="material-icons">place</i><a th:href="@{/admin/districtform(id=${district.id})}" th:text="${district.name}"></a></li>
					</ul>
				</div>
			</div>
			<div>
				<h4>Aktiounen</h4>
				<div style="column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;">
					<ul>
						<li><a th:href="@{/admin/municipalityform}">Nei Gemeng</a></li>
						<li><a th:href="@{/admin/cantonform}">Neie Kanton</a></li>
						<li><a th:href="@{/admin/districtform}">Neien Distrikt</a></li>
					</ul>
				</div>
			</div>

		</article>
	</div>
</th:block>
</html>
