<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="lb">
<head th:fragment="headerFragment">
<title layout:title-pattern="$CONTENT_TITLE — $LAYOUT_TITLE">Kierchtuermspromenaden</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#f9f6e1" />
<link th:href="@{//fonts.googleapis.com/css?family=Italianno|Smythe|Lora|Material+Icons}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" th:href="@{/css/style.css}" th:if="${#httpServletRequest.serverName == 'localhost'}" />
<link rel="stylesheet" th:href="@{/css/s.min.css}" th:if="${#httpServletRequest.serverName != 'localhost'}" />
<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" sizes="64x64" />
<script th:if="${#httpServletRequest.serverName != 'localhost'}" type="text/javascript">
		var _gaq = _gaq || []; _gaq.push([ '_setAccount', 'UA-29144750-1' ]); _gaq.push([ '_trackPageview' ]);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
</script>
<link th:href="@{/feed/nei.xml}" title="Nei Texter" type="application/atom+xml" rel="alternate" />
</head>
<body>
	<header>
		<h1>Kierchtuerms&shy;promenaden</h1>
		<h2>En Tour duerch d&nbsp;'Lëtzebuerger Land mam Tessy Glodt</h2>
		<div class="fb-like" data-href="https://www.facebook.com/Kierchtuermspromenaden" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true"></div>
	</header>
	<nav>
		<a th:href="@{/}"><i class="material-icons">home</i>&nbsp;Haaptsäit</a>
		<a th:href="@{/kaart}"><i class="material-icons">map</i>&nbsp;Kaart mat den Uertschaften</a>
		<a th:href="@{/apropos}"><i class="material-icons">info_outline</i>&nbsp;Iwwert des Säit</a>
		<a th:href="@{/auteur}"><i class="material-icons">person</i>&nbsp;Iwwert den Auteur</a>
		<form role="search" th:action="@{/sich}">
			<input type="text" name="q" class="fc" placeholder="Sichbegrëff" th:value="${param.q}" size="15" />
			<button type="submit"><i class="material-icons">search</i></button>
		</form>
	</nav>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<nav class="margin-top">
			<a th:href="@{/admin/pageform}">Nei Säit</a>&nbsp;|&nbsp;<a th:href="@{/admin/listmcd}">Konfig</a>&nbsp;|&nbsp;<a th:href="@{/logout}">Log out</a>
		</nav>
	</div>
	<div layout:fragment="content"></div>
	<footer>
		<div>
			<i class="material-icons">copyright</i>&nbsp;2012&nbsp;&mdash;&nbsp;<span th:text="${#temporals.format(now, 'yyyy')}" th:remove="tag"></span> Tessy Glodt
		</div>
	</footer>

	<script th:if="${#httpServletRequest.serverName != 'localhost'}" type="text/javascript">
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

</body>
</html>
