<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Säit net fonnt</title>
</head>
<main layout:fragment="content">
	<div class="single">
		<header class="chapter-head">
			<h2>Säit net fonnt</h2>
			<hr class="ornament">
		</header>
		<p class="center">Et deet eis Leed, déi gefrote Säit gëtt et leider net.</p>
		<p class="center"><a class="more" th:href="@{/}">Zréck op d’Haaptsäit</a></p>
	</div>
</main>
</html>
