<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head th:include="layouts/layout :: headerFragment">
<title>Iwwert des Säit</title>
</head>
<th:block layout:fragment="content">
	<div class="box margin-top margin-bottom">
		<article class="text-box about_text">
			<h4>Iwwert des Säit</h4>
			<p>Radiostexter héiert ee normalerweis just eemol. Presentéiere se lëtzebuerger Uertschaften a Kierchen mat mol lokalen a folkloristeschen mol historeschen ’Trouvaillen‘, sinn dës no e puer Minutte verflunn!&nbsp;Ausgangspunkt zu de Stad- an Duerfporträiten ware Commentairen zur Plaz vun där d’Sonndesmass iwwerdroe gouf. Een Deel dovun gouf an engem Buch veréiwegt (…vun deem et just nach wéineg Exempläre gëtt.)</p>
			<p>Ënner dem Titel ‚Kierchtuermspromenaden’ ass hei elo d’Suite um Internet disponibel. De Choix vun dëse ‘Promenaden‘ ass op Uertschafte gefall wou grad Kiermes war, aus deenen d’Radios-Mass koum oder vun deene bal ni geschwat gëtt.</p>
			<p>Dës perséinlech Websäit proposéiert "eng breet Panoplie vu Geschichtlechem, Anekdoteschem, Kontemplativem a Remarquabelem aus dem Gemengeliewen an der Volleksreligiositéit" (Georges Hellinghausen - ‘Warte‘ 26.06.2008 - zu de ‚Kierchtuerms-Causerien‘.) Eist klengt Land huet nämlech charakteristesch Bräich an eng no Regioun ënnerschiddlech Mentalitéit opweises... Vermëscht mat engem Hauch Folklore ergëtt dëst zesummen, d’Leit, d‘Landschaft, d‘Duerfgeschicht an d’Kierch ee Ganzt.</p>
			<p>Di kleng Radiosbäiträg koume säit 2003 sonndesmuerges um DNR; hir Zeilen adresséiere sech un Interessente vun eisem Patrimoine an u jiddereen dee Loscht huet a Gedanken an eisem Land op Entdeckung ze goen!</p>
			<h4>Quellen</h4>
			<ul>
				<li>Das alte Luxemburg heute, Krantz/Quintus</li>
				<li>Luxemburg so wie es war, Mersch</li>
				<li>Wegführer zu Luxemburgischen Kirchen und Kapellen, M. Schmitt</li>
				<li>Greeff, Walin/Thill</li>
				<li>Taschenführer durch die Burgen und Schlösser in Luxemburg, R. Bour</li>
				<li>Luxemburger Wanderbuch, Hemmer</li>
				<li>Von Bräuchen, Sitten und Aberglauben, P. Tousch</li>
				<li>Mosella Sacra, divers Auteuren</li>
				<li>Luxemburger Sagen und Legenden, Dicks, Gredt</li>
				<li>Mosella, Groben</li>
				<li>Wikipedia - Recherchen</li>
				<li>Der Legendenweg, divers Auteuren</li>
				<li>Marienkalender, Reportagen M. Thill</li>
				<li>legilux.lu (Detailler a.d. Memorial)</li>
				<li>Arbres remarquables, Forstverwaltung</li>
				<li>Kapellen, Cliärrwer Kanton, divers Auteuren</li>
				<li>Heimat und Mission 80 Jahre, N. Thill</li>
				<li>Chronik 963-1684, Fr. Lascombes</li>
				<li>Baugeschichte der Stadt und Festung Luxemburg, Koltz</li>
				<li>Echternach, P. Spang</li>
				<li>Marianische Geographie, Biel</li>
				<li>Wandern in Luxemburg., E. Friedrich</li>
				<li>Réiserbänner Chronik, divers Auteuren</li>
				<li>Merian Luxemburg, divers Auteuren</li>
				<li>Kirchen d. Gemeinde Wintger, C. Fandel</li>
				<li>Schueberfouer 1340-1990 (CLUDEM)</li>
				<li><a target="_blank" href="http://engelmann.uni.lu/">Engelmann.uni.lu</a></li>
				<li>Les Sentinelles de l'Histoire, R. Bour</li>
				<li>The Castles of Luxembourg, V. Merckx</li>
				<li>'Ons Stad'</li>
				<li>Archiv Luxemburger Wort</li>
				<li>Série 'une commune et son histoire', La Voix )</li>
				<li><a target="_blank" href="http://www.glasmalerei-ev.net/">Forschungsstelle Glasmalerei</a></li>
				<li>A vill mëndlech Témoignagen</li>
			</ul>
			<p>
				<em>De Sourcecode vun dësem Internetsite ass op <a target="_blank" href="https://github.com/yglodt/tessyglodt.lu">GitHub</a> verëffentlecht.</em>
			</p>
		</article>
	</div>
</th:block>
</html>
