<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head th:include="layouts/layout :: headerFragment">
<title>En Tour duerch d'Lëtzebuerger Land mam Tessy Glodt</title>
</head>
<th:block layout:fragment="content">

	<div class="box middle_bar margin-bottom margin-top">
		<div th:replace="fragments/randomPage"></div>
	</div>

	<div class="lower_bar margin-bottom">
		<article class="box text-box">
			<h4>All d'Texter</h4>
			<div class="text_columns">
				<div th:replace="fragments/pagesInfos"></div>
			</div>
		</article>
		<aside class="box">
			<div class="text-box map">
				<h4>Kaart</h4>
				<a th:href="@{/kaart}"><img id="index_mapimage" th:src="@{/img/kaart.jpg}" width="300" height="164" /></a>
			</div>
			<div th:replace="fragments/newestPages"></div>
			<div th:replace="fragments/lastReadPages"></div>
			<div th:replace="fragments/mostReadPages"></div>
			<div th:replace="fragments/districts"></div>
			<div th:replace="fragments/cantons"></div>
		</aside>
	</div>
</th:block>
</html>
