<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Umellen</title>
</head>
<main layout:fragment="content">
	<div class="single">
		<article>
			<header class="chapter-head">
				<h2>Log in</h2>
				<hr class="ornament">
			</header>

			<p th:if="${param.error}">Invalid username and password.</p>
			<p th:if="${param.logout}">You have been logged out.</p>

			<form class="form" th:action="@{/authcheck}" method="post">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" autocomplete="username">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" autocomplete="current-password">
				<button class="button" type="submit">Log in</button>
			</form>
		</article>
	</div>
	<script>
		document.getElementById("username").focus();
	</script>
</main>
</html>
