<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Kaart mat den Uertschaften</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha384-c6Rcwz4e4CITMbu/NBmnNS8yN2sC3cUElMEMfP3vqqKFp7GOYaaBBCqmaWBjmkjb" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" integrity="sha384-NElt3Op+9NBMCYaef5HxeJmU4Xeard/Lku8ek6hoPTvYkQPh3zLIrJP7KiRocsxO" crossorigin="anonymous"></script>
</head>
<th:block layout:fragment="content">

	<div class="box margin-top margin-bottom">
		<article class="map_container text-box">
			<h4>Kaart mat den Uertschaften</h4>
			<div id="bigmap" style="width: 100%; height: 900px;"></div>
		</article>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		var map = L.map("bigmap", { doubleClickZoom : false }).setView([49.85, 6.1], 10);
		L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
			maxZoom : 19,
			attribution : '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		/*[# th:each="page : ${pageInfos}"]*/
		L.marker([ [[${page.latitude}]], [[${page.longitude}]] ], { title : [[${page.title}]] })
			.on("click", function() { window.location.href = [[@{/page/{p}(p=${page.name})}]]; })
			.addTo(map);
		/*[/]*/

		/*]]>*/
	</script>

</th:block>
</html>
