<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Lëscht no Distrikt / Kanton</title>
</head>
<main layout:fragment="content">
	<div class="with-margin wide">
		<article>
			<header class="chapter-head">
				<p class="kicker">Texter aus dem</p>
				<h2 th:text="${title + ' ' + name}"></h2>
				<hr class="ornament">
			</header>
			<ul th:replace="~{fragments/pagesInfos}"></ul>
		</article>
		<aside class="marginalia">
			<section th:replace="~{fragments/districts}"></section>
			<section th:replace="~{fragments/cantons}"></section>
		</aside>
	</div>
</main>
</html>
