<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${page.title}"></title>
<meta property="og:type" content="article">
<meta property="og:site_name" content="Kierchtuermspromenaden">
<meta property="og:title" th:content="${page.title}">
<meta property="og:description" th:content="${page.teaser}">
<meta property="og:url" th:content="${page.url}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha384-c6Rcwz4e4CITMbu/NBmnNS8yN2sC3cUElMEMfP3vqqKFp7GOYaaBBCqmaWBjmkjb" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" integrity="sha384-NElt3Op+9NBMCYaef5HxeJmU4Xeard/Lku8ek6hoPTvYkQPh3zLIrJP7KiRocsxO" crossorigin="anonymous"></script>
</head>
<th:block layout:fragment="content">
	<div class="margin-top margin-bottom location_page">

		<article class="box text-box">
			<h3 th:text="${page.title}"></h3>
			<div th:utext="${page.content}" th:remove="tag"></div>
		</article>
		<aside class="box">
			<div class="text-box">
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<p>
						<a style="color: darkred; font-weight: bold;" th:href="@{/admin/pageform(id=${page.id})}">Änneren</a>
					</p>
				</div>
				<h4 th:text="${'Informatiounen zu ' + page.title}"></h4>
				<table class="location_info_table">
					<tbody>
						<tr>
							<th>Gemeng</th>
							<td th:text="${page.municipality.name}"></td>
						</tr>
						<tr>
							<th>Kanton</th>
							<td th:text="${page.municipality.canton.name}"></td>
						</tr>
						<tr>
							<th>Distrikt</th>
							<td th:text="${page.municipality.canton.district.name}"></td>
						</tr>
						<tr>
							<th>Publizéiert den</th>
							<td th:text="${#temporals.format(page.datePublished, 'dd.MM.yyyy')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="location_map">
				<h4>Op der Landkaart</h4>
				<div id="map"></div>
			</div>
			<div class="nearby_pages" th:unless="${#lists.isEmpty(nearbyPages)}">
				<h4>An der Géigend</h4>
				<ul>
					<li th:each="nearbyPage : ${nearbyPages}"><i class="material-icons">place</i><a th:href="@{/page/{page}(page=${nearbyPage.name})}" th:text="${nearbyPage.title}"></a><span class="distance" th:text="${#numbers.formatDecimal(nearbyPage.distance, 1, 1, 'COMMA') + ' km'}"></span></li>
				</ul>
			</div>
		</aside>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		var map = L.map("map").setView([49.85, 6.1], 8);
		L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
			maxZoom : 19,
			attribution : '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		L.marker([ [[${page.latitude}]], [[${page.longitude}]] ], { title : [[${page.title}]] }).addTo(map);

		/*]]>*/
	</script>
</th:block>
</html>
