<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Dateschutz</title>
</head>
<main layout:fragment="content">
	<div class="single">
		<article>
			<header class="chapter-head">
				<h2>Dateschutz</h2>
				<hr class="ornament">
			</header>
			<div class="prose">
			<p>Kierchtuermspromenaden sammelt esou wéineg Donnéeë wéi méiglech.</p>
			<h3>Verantwortlech</h3>
			<p>Tessy Glodt-Raus, <a href="mailto:tessy.glodt@gmail.com">tessy.glodt@gmail.com</a></p>
			<h3>Keng Cookien, kee Tracking</h3>
			<p>Dësen Internetsite setzt keng Cookien a benotzt keng Statistik-, Analyse- oder Tracking-Tools. Mir zielen nëmmen, wéi dacks eng Säit opgeruff gëtt, ouni perséinlech Donnéeën.</p>
			<h3>Server-Logs</h3>
			<p>Wann Dir eng Säit opruft, späichert de Server technesch Informatiounen: IP-Adress, Zäitpunkt, opgeruffe Säit a Browser. Mir brauchen dës Donnéeë fir de Betrib an d'Sécherheet vum Site (berechtegten Interessi, Art. 6 Par. 1 Bst. f RGPD). Si ginn net méi laang gehale wéi néideg.</p>
			<h3>Kaarten</h3>
			<p>D'Kaarte gi mat Leaflet (vun cdnjs.cloudflare.com) an OpenStreetMap (tile.openstreetmap.org) ugewisen. Dobäi luet Äre Browser Daten direkt vun dëse Servicer, déi dowéinst Är IP-Adress gesinn. Méi Informatiounen: <a target="_blank" href="https://osmfoundation.org/wiki/Privacy_Policy">Dateschutz OpenStreetMap</a>, <a target="_blank" href="https://www.cloudflare.com/privacypolicy/">Dateschutz Cloudflare</a>.</p>
			<h3>Facebook</h3>
			<p>Mir deelen Artikele vun dësem Site op eiser <a target="_blank" href="https://www.facebook.com/Kierchtuermspromenaden">Facebook-Säit</a>. Dësen Internetsite bënnt keng Inhalter vu Facebook an: Äre Browser verbënnt sech eréischt mat de Servere vu Meta, wann Dir op de Link op d'Facebook-Säit klickt. Fir d'Facebook-Säit gëllen d'<a target="_blank" href="https://www.facebook.com/privacy/policy/">Dateschutzreegele vu Meta</a>.</p>
			<h3>Är Rechter</h3>
			<p>Dir hutt d'Recht op Auskunft, Korrektur a Läschung vun Äre Donnéeën. Kontaktéiert eis dofir iwwer déi uewe genannten Adress. Dir kënnt Iech och bei der <a target="_blank" href="https://cnpd.public.lu">CNPD</a> (Commission nationale pour la protection des données) beschwéieren.</p>
			</div>
		</article>
	</div>
</main>
</html>
