<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Dateschutz</title>
</head>
<th:block layout:fragment="content">
	<div class="box margin-top margin-bottom">
		<article class="text-box about_text">
			<h4>Dateschutz</h4>
			<p>Kierchtuermspromenaden sammelt esou wéineg Donnéeë wéi méiglech.</p>
			<h4>Verantwortlech</h4>
			<p>Tessy Glodt-Raus, <a href="mailto:tessy.glodt@gmail.com">tessy.glodt@gmail.com</a></p>
			<h4>Keng Cookien, kee Tracking</h4>
			<p>Dësen Internetsite setzt keng Cookien a benotzt keng Statistik-, Analyse- oder Tracking-Tools. Mir zielen nëmmen, wéi dacks eng Säit opgeruff gëtt, ouni perséinlech Donnéeën.</p>
			<h4>Server-Logs</h4>
			<p>Wann Dir eng Säit opruft, späichert de Server technesch Informatiounen: IP-Adress, Zäitpunkt, opgeruffe Säit a Browser. Mir brauchen dës Donnéeë fir de Betrib an d'Sécherheet vum Site (berechtegten Interessi, Art. 6 Par. 1 Bst. f RGPD). Si ginn net méi laang gehale wéi néideg.</p>
			<h4>Kaarten</h4>
			<p>D'Kaarte gi mat Leaflet (vun cdnjs.cloudflare.com) an OpenStreetMap (tile.openstreetmap.org) ugewisen. Dobäi luet Äre Browser Daten direkt vun dëse Servicer, déi dowéinst Är IP-Adress gesinn. Méi Informatiounen: <a target="_blank" href="https://osmfoundation.org/wiki/Privacy_Policy">Dateschutz OpenStreetMap</a>, <a target="_blank" href="https://www.cloudflare.com/privacypolicy/">Dateschutz Cloudflare</a>.</p>
			<h4>Facebook</h4>
			<p>Mir deelen Artikele vun dësem Site op eiser <a target="_blank" href="https://www.facebook.com/Kierchtuermspromenaden">Facebook-Säit</a>. Op dësem Site ass e „Gefällt mir“-Knäppche vu Facebook agebonnen. Dofir verbënnt Äre Browser sech beim Opruff vun enger Säit mat de Servere vu Meta (connect.facebook.net), och wann Dir de Knäppche net klickt. Meta gesäit dobäi Är IP-Adress an aner technesch Informatiounen, a wann Dir bei Facebook ageloggt sidd, kann Meta de Besuch Ärem Konto zouuerdnen. Fir de Knäppchen an d'Facebook-Säit gëllen d'<a target="_blank" href="https://www.facebook.com/privacy/policy/">Dateschutzreegele vu Meta</a>.</p>
			<h4>Är Rechter</h4>
			<p>Dir hutt d'Recht op Auskunft, Korrektur a Läschung vun Äre Donnéeën. Kontaktéiert eis dofir iwwer déi uewe genannten Adress. Dir kënnt Iech och bei der <a target="_blank" href="https://cnpd.public.lu">CNPD</a> (Commission nationale pour la protection des données) beschwéieren.</p>
		</article>
	</div>
</th:block>
</html>
