<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Statistiken</title>
</head>
<main layout:fragment="content">
	<div class="single">
		<article>
			<header class="chapter-head">
				<h2>Statistiken</h2>
				<hr class="ornament">
			</header>
			<table class="stats">
				<tr>
					<th>Säit</th>
					<th>Unzuel Klicks</th>
					<th>Läschte Klick</th>
				</tr>
				<tr th:each="page : ${pages}">
					<td th:text="${page.title}"></td>
					<td th:text="${page.view_count}"></td>
					<td th:text="${#temporals.format(page.date_last_view.toLocalDateTime(), 'dd.MM.yyyy - HH:mm')}"></td>
				</tr>
			</table>
		</article>
	</div>
</main>
</html>
